body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    color: #aaa;
    font-size: 18px;
}

#dropzone {
    border: 2px dashed #0087F7;
    border-radius: 5px;
    background: white;
}

#dropzone .dz-message {
    font-weight: 400;
}

#dropzone .dz-message .note {
    font-size: 0.8em;
    font-weight: 200;
    display: block;
    margin-top: 1.4rem;
}

.autocomplete-suggestions  {
    text-align: left;
    cursor: default;
    border: 1px solid #ccc;
    border-top: 0;
    background: #fff;
    box-shadow: -1px 1px 3px rgba(0,0,0,.1);
    position: absolute;
    z-index: 9999;
    max-height: 254px;
    overflow: hidden;
    overflow-y: auto;
    box-sizing: border-box;
}

#gallery {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

#gallery > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
    border: 3px solid #fff;
}

#gallery > div > div:first-child {
    margin: auto;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    color: #aaa;
    font-size: 18px;
}

.is-photo {
    height: 256px;
    width: 256px;
}

.is-delete {
    margin: 10px 0;
}

@media only screen and (max-width:1024px) {
    div#gallery {
        grid-template-columns: auto auto auto;
    }
}

@media only screen and (max-width: 769px) {
    .is-photo {
        height: 128px;
        width: 128px;
    }

    div#gallery {
        grid-template-columns: 32% 32% 32%;
    }
}

#load-more {
    margin-bottom: 1rem;
}