<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0" class="next-head"/>
<title>Admin page</title>
<link href='/css/app.css' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="/css/bulma.css" />
<link rel="stylesheet" type="text/css" href="/css/notie.min.css" />
<script src="/js/notie.min.js"></script>
<script src="/js/axios.min.js"></script>
<script src="/js/ramda.min.js"></script>