<?php /** @var string $page */?>
<div class="tabs">
    <ul>
        <li class="<?php echo $page === 'upload' ? 'is-active' : '' ?>"><a href="/">Upload file</a></li>
        <li class="<?php echo $page === 'media' ? 'is-active' : '' ?>"><a href="/media">Media files</a></li>
        <li class="<?php echo $page === 'settings' ? 'is-active' : '' ?>"><a href="/settings">Settings</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</div>