<?php
    $page = 'upload';
?><!DOCTYPE html>
<html lang="en">
<head>
    <?php include 'includes/_header.phtml' ?>

    <link rel="stylesheet" href="/css/dropzone.min.css" />
    <script src="/js/dropzone.min.js"></script>
</head>
<body>
    <?php include 'includes/_menu.phtml' ?>

    <h1 class="is-size-1 has-text-primary">Upload file</h1>

    <div class="container">
        <form action="/" class="dropzone" id="dropzone"></form>
    </div>

    <script>
        Dropzone.options.dropzone = {
            acceptedFiles: 'image/jpeg',
        };
    </script>
</body>
</html>