<?php
?><!DOCTYPE html>
<html lang="en">
<head>
    <?php include 'includes/_header.phtml' ?>
</head>
<body>
    <div class="container">
        <div class="tabs"><ul></ul></div>

        <h1 class="is-size-1 has-text-primary">Login</h1>

        <form id="form">
            <div class="field">
                <label class="label" for="username">User name:</label>
                <input class="input" required type="text" id="username" name="username" />
            </div>

            <div class="field">
                <label class="label" for="password">Password:</label>
                <input class="input" required type="password" id="password" name="password" />
            </div>

            <div class="field">
                <div class="control">
                    <input class="button is-link" disabled id="submit" type="submit" value="Submit" />
                </div>
            </div>
        </form>
    </div>
    <script>
        var SAVE_ENDPOINT = '/login';
        var SAVE_ERROR_MSG = {
            type: 'error',
            text: 'User name not found or incorrect password.',
        };
        var $form = document.querySelector('#form');
        var $submit = document.querySelector('#submit');

        $submit.removeAttribute('disabled');
        $form.addEventListener('submit', function (e) {
            e.preventDefault();
            var data = new FormData($form);

            $submit.setAttribute('disabled', '');
            axios.post(SAVE_ENDPOINT, data, {
                withCredentials: true
            }).then(
                function () {
                    location.replace('/');
                },
                function (error) {
                    if (error.response && error.response.status === 403) {
                        location.replace('/');
                    } else {
                        notie.alert(SAVE_ERROR_MSG);
                    }
                }
            ).finally(function () {
                $submit.removeAttribute('disabled');
            });
        });
    </script>
</body>
</html>