<?php
    $page = 'media';
    /** @var int $count */
    /** @var string $size */
?><!DOCTYPE html>
<html lang="en">
<head>
    <?php include 'includes/_header.phtml' ?>

    <script src="/js/mustache.min.js"></script>
</head>
<body>
    <?php include 'includes/_menu.phtml' ?>

    <h1 class="is-size-1 has-text-primary">
        Media files(<span class="is-size-6" id="stats"><?php echo htmlentities($count)?>, <?php echo htmlentities($size)?></span>)
    </h1>

    <div class="container">
        <div id="gallery"></div>
        <button
            class="button is-info <?php echo $count <= 36 ? 'is-hidden' : ''?>"
            id="load-more"
        >
            Load more
        </button>
    </div>

    <script id="template" type="x-tmpl-mustache">
        <div data-file="{{name}}">
            <div>
                <figure class="image is-photo is-square">
                     <img src="/upload/{{name}}" />
                </figure>
            </div>
            <div>
                <form data-file="{{name}}" class="js-delete-file">
                    <input type="hidden" name="name" value="{{name}}" />
                    <input class="button is-delete" type="submit" value="Delete" />
                </form>
            </div>
        </div>
    </script>

    <script>
        var FILES_COUNT = <?php echo $count?>;
        var IS_HIDDEN_CLASS = 'is-hidden';
        var IS_LOADING_CLASS = 'is-loading';
        var COUNT_PHOTO_PAGE = 36;
        var FETCH_ERROR_MSG = {
            type: 'error',
            text: 'Error load media files.',
        };
        var cursor = '';
        var FETCH_PATH = '/media/gallery?limit={{limit}}&cursor={{cursor}}';
        var DELETE_ERROR_MSG = {
            type: 'error',
            text: 'Error delete media file.',
        };
        var DELETE_PATH = '/media/delete';
        var STATS_PATH = '/media/stats';
        var STATS_TEMPLATE = '{{count}}, {{size}}';

        var $template = document.querySelector('#template');
        var $gallery = document.querySelector('#gallery');
        var $loadMore = document.querySelector('#load-more');
        var $stats = document.querySelector('#stats');

        Mustache.parse(FETCH_PATH);
        var template = $template.text;
        Mustache.parse(template);
        Mustache.parse(STATS_TEMPLATE);

        var loadStats = function () {
            axios.get(STATS_PATH).then(
                function (response) {
                    $stats.innerHTML = Mustache.render(STATS_TEMPLATE, response.data);
                },
                function (error) {
                    if (error.response && error.response.status === 401) {
                        location.replace('/login');
                    } else {
                        notie.alert(FETCH_ERROR_MSG);
                    }
                }
            ).finally(function () {

            });
        };

        var addImage = function (name) {
            var rendered = Mustache.render(template, { name });
            $gallery.innerHTML += rendered;

            var nodes = document.querySelectorAll(`.js-delete-file`);

            R.forEach(function ($form) {
                $form.addEventListener('submit', function (e) {
                    e.preventDefault();

                    var formFileName = $form.getAttribute('data-file');
                    var $box = document.querySelector(`div[data-file="${formFileName}"]`);
                    var data = new FormData($form);
                    var $buttonSave = $form.querySelector('input[type="submit"]');

                    $buttonSave.classList.add(IS_LOADING_CLASS);
                    axios.post(DELETE_PATH, data).then(
                        function () {
                            $gallery.removeChild($box);
                            loadStats();
                        },
                        function (error) {
                            if (error.response && error.response.status === 401) {
                                location.replace('/login');
                            } else {
                                notie.alert(DELETE_ERROR_MSG);
                            }
                        }
                    ).finally(function () {
                        if (document.body.contains($buttonSave)) {
                            $buttonSave.classList.remove(IS_LOADING_CLASS);
                        }
                    });
                });
            }, nodes);
        };

        var load = function () {
            $loadMore.classList.add(IS_LOADING_CLASS);
            var path = Mustache.render(FETCH_PATH, { limit: COUNT_PHOTO_PAGE, cursor: cursor });

            axios.get(path).then(
                function (response) {
                    if (Array.isArray(response.data)) {
                        R.forEach(addImage, response.data);
                        cursor = R.last(response.data);

                        if ($gallery.querySelectorAll('.js-delete-file').length >= FILES_COUNT) {
                            $loadMore.classList.add(IS_HIDDEN_CLASS);
                        }
                    }
                },
                function () {
                    notie.alert(FETCH_ERROR_MSG);
                }
            ).finally(function () {
                $loadMore.classList.remove(IS_LOADING_CLASS);
            });
        };

        $loadMore.addEventListener('click', load);
        load();
    </script>
</body>
</html>