<?php
    $page = 'settings';
/** @var string $instagram_login */
/** @var string $instagram_password */
/** @var string $location */
/** @var string $location_name */
/** @var string $text */
/** @var number $period */
/** @var bool $upload_script_is_running */
/** @var bool $upload_script_is_active */
?><!DOCTYPE html>
<html lang="en">
<head>
    <?php include 'includes/_header.phtml' ?>

    <script src="/js/auto-complete.min.js"></script>
</head>
<body>
    <?php include 'includes/_menu.phtml' ?>

    <h1 class="is-size-1 has-text-primary">
        Settings
    </h1>

    <div class="container">
        <form id="form">
            <div class="field">
                <label class="label" for="instagram_login">Instagram login:</label>
                <input
                    class="input"
                    required type="text"
                    id="instagram_login"
                    name="instagram_login"
                    value="<?php echo htmlentities($instagram_login)?>"
                />
            </div>

            <div class="field">
                <label class="label" for="instagram_password">Instagram password:</label>
                <input
                    class="input"
                    required
                    type="password"
                    id="instagram_password"
                    name="instagram_password"
                    value="<?php echo htmlentities($instagram_password)?>"
                />
            </div>

            <div class="field">
                <label class="label" for="location">Location:</label>
                <input
                    type="text"
                    class="input"
                    id="location"
                    value="<?php echo htmlentities($location_name)?>"
                />
                <input
                    id="hidden"
                    type="hidden"
                    name="location"
                    value="<?php echo htmlentities($location)?>"
                />
            </div>

            <div class="field">
                <label class="label" for="text">Text:</label>
                <textarea class="textarea" id="text" name="text"><?php echo htmlentities($text)?></textarea>
            </div>

            <div class="field">
                <label class="label" for="period">Period:</label>
                <input
                    class="input"
                    required
                    min="1"
                    step="1"
                    type="number"
                    id="period"
                    name="period"
                    value="<?php echo htmlentities($period)?>"
                />
            </div>

            <div class="field">
                <div class="control">
                    <input class="button is-link" id="submit" type="submit" value="Submit" />
                    <?php if ($upload_script_is_running):?>
                        <button
                            class="button is-primary <?php echo $upload_script_is_active ? 'is-hidden' : '' ?>"
                            id="upload-script-start"
                        >
                            Start upload script
                        </button>
                        <button
                            class="button is-danger <?php echo !$upload_script_is_active ? 'is-hidden' : '' ?>"
                            id="upload-script-stop"
                        >
                            Stop upload script
                        </button>
                    <?php endif ?>
                </div>
            </div>
        </form>
    </div>

    <script>
        var IS_HIDDEN_CLASS = 'is-hidden';
        var IS_LOADING_CLASS = 'is-loading';
        var START_SCRIPT_ENDPOINT = '/settings/start';
        var STOP_SCRIPT_ENDPOINT = '/settings/stop';
        var START_SCRIPT_OK_MSG = {
            type: 'success',
            text: 'Upload script was started.',
        };
        var START_SCRIPT_ERROR_MSG = {
            type: 'error',
            text: 'Failed start upload script.',
        };
        var STOP_SCRIPT_OK_MSG = {
            type: 'success',
            text: 'Upload script was stoped.',
        };
        var STOP_SCRIPT_ERROR_MSG = {
            type: 'error',
            text: 'Failed stop upload script.',
        };
        var $startButton = document.querySelector('#upload-script-start');
        var $stopButton = document.querySelector('#upload-script-stop');

        if ($startButton) {
            $startButton.addEventListener('click', function (e) {
                e.preventDefault();

                $startButton.classList.add(IS_LOADING_CLASS);
                axios.post(START_SCRIPT_ENDPOINT).then(
                    function () {
                        notie.alert(START_SCRIPT_OK_MSG);
                        $stopButton.classList.remove(IS_HIDDEN_CLASS);
                        $startButton.classList.add(IS_HIDDEN_CLASS);
                    },
                    function (error) {
                        if (error.response && error.response.status === 403) {
                            location.replace('/');
                        } else {
                            notie.alert(START_SCRIPT_ERROR_MSG);
                        }
                    }
                ).finally(function () {
                    $startButton.classList.remove(IS_LOADING_CLASS);
                });
            });
        }

        if ($stopButton) {
            $stopButton.addEventListener('click', function (e) {
                e.preventDefault();

                $stopButton.classList.add(IS_LOADING_CLASS);
                axios.post(STOP_SCRIPT_ENDPOINT).then(
                    function () {
                        notie.alert(STOP_SCRIPT_OK_MSG);
                        $startButton.classList.remove(IS_HIDDEN_CLASS);
                        $stopButton.classList.add(IS_HIDDEN_CLASS);
                    },
                    function (error) {
                        if (error.response && error.response.status === 403) {
                            location.replace('/');
                        } else {
                            notie.alert(STOP_SCRIPT_ERROR_MSG);
                        }
                    }
                ).finally(function () {
                    $stopButton.classList.remove(IS_LOADING_CLASS);
                });
            });
        }
    </script>
    <script>
        var FETCH_ERROR_MSG = {
            type: 'error',
            text: 'Failed load locations.',
            time: 1,
        };
        var locations = [];
        new autoComplete({
            selector: '#location',
            minChars: 2,
            delay: 300,
            source: function(term, suggest){
                axios.get(`/settings/locations?search=${term}`).then(
                    function(data) {
                        locations = data.data;
                        suggest(R.map(R.prop('name'), data.data));
                    },
                    function (error) {
                        if (error.response && error.response.status === 403) {
                            location.replace('/');
                        } else {
                            notie.alert(FETCH_ERROR_MSG);
                        }
                    }
                );
            }
        });
        const $input = document.querySelector('#location');
        const $hidden = document.querySelector('#hidden');

        $input.addEventListener('change', function (e) {
            var name = e.target.value;
            var find = R.find(R.propEq('name', name))(locations);

            if (find) {
                $hidden.value = JSON.stringify(find);
            } else {
                $hidden.value = '';
            }
        })
    </script>
    <script>
        var IS_LOADING_CLASS = 'is-loading';
        var SAVE_ENDPOINT = '/settings';
        var SAVE_ERROR_MSG = {
            type: 'error',
            text: 'Failed save settings.',
            time: 1,
        };
        var SAVE_OK_MSG = {
            type: 'success',
            text: 'Successful save settings.',
            time: 1,
        };
        var $form = document.querySelector('#form');
        var $submit = document.querySelector('#submit');

        $form.addEventListener('submit', function (e) {
            e.preventDefault();
            var data = new FormData($form);

            $submit.classList.add(IS_LOADING_CLASS);
            axios.post(SAVE_ENDPOINT, data).then(
                function () {
                    notie.alert(SAVE_OK_MSG);
                },
                function (error) {
                    if (error.response && error.response.status === 403) {
                        location.replace('/');
                    } else {
                        notie.alert(SAVE_ERROR_MSG);
                    }
                }
            ).finally(function () {
                $submit.classList.remove(IS_LOADING_CLASS);
            });
        });
    </script>
</body>
</html>